<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.order.mapper.OrderMapper">

    <select id="queryOrderList" resultType="com.jk.order.model.TbOrder">
        select * from t_order where 1=1
        <if test="orderid !=null and orderid !=''">
            and orderid = #{orderid}
        </if>
        <if test="mintime != null and mintime != ''">
            and createtime >= #{mintime}
        </if>
        <if test="maxtime != null and maxtime != '' ">
            and createtime &lt;= #{maxtime}
        </if>
    </select>
    <select id="queryOrderListAll" resultType="com.jk.order.model.TbOrder">
        select * from t_order
    </select>
    <delete id="delOrderByIds">
        delete from t_order where orderid in
        <foreach collection="array" item="orderid" open="(" separator="," close=")">
            #{orderid}
        </foreach>
    </delete>
    <delete id="deleteOrderInfo">
        delete from t_orderinfo where orderinfooid in
        <foreach collection="array" item="orderid" open="(" separator="," close=")">
            #{orderid}
        </foreach>
    </delete>
    <select id="queryOrderInfoByOrderId" resultType="com.jk.order.model.TOrderinfo">
        select  *  from t_order o,t_orderinfo oi,t_commodity c where oi.orderinfooid = o.orderid and c.productId =  oi.orderinfopid and o.orderid = #{orderid}
    </select>
    <select id="queryNewOrder" resultType="java.util.Map">
       SELECT
            tco.productName productName,
            tco.productIntroduction productInfo,
            tco.commodityPrice commodityPrice,
            tco.homeScreenSize ,
            tco.hotspot,
            ttp.type_name,
            count(tco.productId) count
        FROM
            t_order t,
            t_orderinfo too,
            t_commodity tco,
            t_productbrand tpr,
            t_type ttp
        WHERE
            t.orderid=too.orderinfooid
        AND
            too.orderinfopid=tco.productId
        AND
            tco.productBrand=tpr.productBrand_id
        AND
            tpr.productBrand_typeId=ttp.type_id
        AND
            YEARWEEK(
                date_format(createtime, '%Y-%m-%d')
            ) = YEARWEEK(now()) - 1
        GROUP BY
            tco.productId
    </select>
</mapper>