<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <script src="../highcharts/code/highcharts.js"></script>
    <script src="../highcharts/code/modules/exporting.js"></script>
    <script src="../highcharts/code/modules/export-data.js"></script>


    <title>后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/bootstrap/bootstrap-bootbox/bootbox.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">

<!-- 内容区域 -->

<!-- hightCharts数据分析 -->
<div id="container" style="min-width:400px;height:400px"></div>
<!-- 内容头部 -->
<section class="content-header">
    <h1>
        财务总览
    </h1>
    <ol class="breadcrumb">
        <li><a href="/orderPage/toindex"><i class="fa fa-dashboard"></i> 首页</a></li>
    </ol>
</section>
<!-- 内容头部 /-->

<!-- 正文区域 -->
<section class="content">
    <!-- 统计数值 -->
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 align="center"><span id="failorder"></span></h3>

                    <p>上周已成交订单</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="javascript:newOrederDetails()" class="small-box-footer">详细 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 align="center"><span id="newreguser"></span></h3>
                    <p>上月新注册用户</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="javascript:queryNewCmsUser()" class="small-box-footer">详细 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <!-- /.row -->
</section>
<!-- 正文区域 /-->

<!-- 内容区域 /-->
    <script>

        $(function(){
            querynewordercount();
            queryoverordercount();
            queryfailordercount();
            querynewregusercount();
            initDiagram();
        })
        
        function querynewordercount() {
            $.ajax({
                url:"../money/querynewordercount",
                success:function (data) {
                    $("#neworderid").html(data);
                }
            })
        }   
        
        function queryoverordercount() {
            $.ajax({
                url:"../money/queryoverordercount",
                success:function (data) {
                    $("#overorder").html(data);
                }
            })
        }
        
        function queryfailordercount() {
            $.ajax({
                url:"../money/queryfailordercount",
                success:function (data) {
                    $("#failorder").html(data);
                }
            })
        }
        
        function querynewregusercount() {
            $.ajax({
                url:"../money/querynewregusercount",
                success:function (data) {
                    $("#newreguser").html(data);
                }
            })
        }
        
        function initDiagram(){
            $.ajax({
                url:"../money/queryDiagram",
                success:function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: new Date().getFullYear()+"年"+new Date().getMonth()+'月数据'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Brands',
                            colorByPoint: true,
                            data:data
                        }]
                    });
                }
            })
        }

        <!--查询上周订单数据-->
        function newOrederDetails() {
            bootbox.dialog({
                title:'上周订单信息',
                message:createAddContent("../orderPage/toDialogPage"),
                closeButton:true
            })
        }
            var res;
        function createAddContent(url) {
                $.ajax({
                    url:url,
                    async:false,
                    success:function (data) {
                        res = data;
                    }
                })
                return res;
            }

        <!--查询上月薪注册用户-->
        function queryNewCmsUser(){
            bootbox.dialog({
                title:'上月新用户注册',
                message:createAddContent("../toCms/toNewCmsUser"),
                closeButton:true
            })
        }
    </script>
</body>

</html>