<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">商品名称</label>
        <label class="col-sm-8 control-label"><span id="productNameXiangQing"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">商品简介</label>
        <label class="col-sm-8 control-label"><span id="productIntroduction"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">商品价格</label>
        <label class="col-sm-8 control-label"><span id="commodityPrice"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">商品cpu</label>
        <label class="col-sm-8 control-label"><span id="productCpu"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">商品重量</label>
        <label class="col-sm-8 control-label"><span id="productWeight"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">商品产地</label>
        <label class="col-sm-8 control-label"><span id="productOrigin"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">屏幕尺寸</label>
        <label class="col-sm-8 control-label"><span id="homeScreenSize"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">摄像头数</label>
        <label class="col-sm-8 control-label"><span id="numberOfCameras"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">操作系统</label>
        <label class="col-sm-8 control-label"><span id="operatingSystem"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">热点</label>
        <label class="col-sm-8 control-label"><span id="hotspot"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">游戏性能</label>
        <label class="col-sm-8 control-label"><span id="gamePerformance"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">屏幕比例</label>
        <label class="col-sm-8 control-label"><span id="aspectRatio"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">上架时间</label>
        <label class="col-sm-8 control-label"><span id="upAndDownTime"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">上市时间</label>
        <label class="col-sm-8 control-label"><span id="timeToMarket"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">入网型号</label>
        <label class="col-sm-8 control-label"><span id="theNetModel"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">分辨率</label>
        <label class="col-sm-8 control-label"><span id="resolutionRatio"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">品牌</label>
        <label class="col-sm-8 control-label"><span id="productBrand"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">待机时长</label>
        <label class="col-sm-8 control-label"><span id="theStandbyTime"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">商品销量</label>
        <label class="col-sm-8 control-label"><span id="commoditySales"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">充电器</label>
        <label class="col-sm-8 control-label"><span id="charger"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">无线充电</label>
        <label class="col-sm-8 control-label"><span id="wirelessCharging"></span></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">包装清单</label>
        <label class="col-sm-8 control-label"><span id="packing"></span></label>
    </div>
</form>
</body>
</html>