<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>流量分析</title>
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="../plugins/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <!-- bootstrap 表格 -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-table/bootstrap-table.css" />
    <script src="../plugins/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../plugins/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- bootstrap treeview -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css" />
    <script src="../plugins/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- bootstrap 选项卡 -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../plugins/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- bootstrap日期插件 -->
    <script src="../plugins/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../plugins/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <!-- bootstrap 弹框 -->
    <script src="../plugins/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <!-- bootstrap上传插件 -->
    <script src="../plugins/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../plugins/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
<h1  class="form-control" style="background: #00ca6d"><font color="#ffebcd">购物中心页面请求详细</font></h1>
    <table class="table" id="myTable"></table>
    <script>
        $(function () {
            initTable();
        })
        function initTable(){
            //列表展示
            $('#myTable').bootstrapTable({
                toolbar:'#toolbar',
                url:'../flux/queryFluxList',//获取数据地址
                pagination:true, //是否展示分页
                pageList:[2, 3, 6, 8],//分页组件
                pageNumber:1,
                pageSize:5,//默认每页条数
                search:true,//是否显示搜索框
                //searchText:'',//初始化搜索文字
                showColumns:false,//是否显示 内容列下拉框
                //showToggle:true,//是否显示 切换试图（table/card）按钮
                showPaginationSwitch:false,//是否显示 数据条数选择框
                showRefresh:false,//是否显示刷新按钮
                detailView:false,//设置为 true 可以显示详细页面模式。
                showFooter:false,//是否显示列脚
                clickToSelect: true, //是否启用点击选中行
                sidePagination:'client',//分页方式：client客户端分页，server服务端分页（*
                striped:true,
                queryParams:function(){
                    return{
                        'useraccount':$("#useraccount").val(),
                        'startDate':$("#startDate").val(),
                        'endDate':$("#endDate").val(),
                        page:this.pageNumber,
                        rows:this.pageSize
                    };
                },
                columns:[
                    {field:'2',align:"center",checkbox:true},
                    {field:'id',title:'请求编号',align:"center"},
                    {field:'method',title:'请求名称',align:"center"},
                    {field:'parmes',title:'参数',align:"center"},
                    {field:'rvalue',title:'返回值',align:"center"},
                    {field:'exception',title:'异常',align:"center"},
                    {field:'thisDate',title:'请求时间',align:"center",
                        formatter:function (value) {
                            if(value!=null){
                                return value.substring(0,10);
                            }else{
                                return "暂无";
                            }
                        }
                    },
                    {field:'exception',title:'操作',align:"center"}
                ]
            })
        }
    </script>
</body>
</html>