<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.user.mapper.UserMapper">
    <select id="queryWebUserCount" resultType="int" parameterType="com.jk.user.model.WebUser">
        select count(*) from web_user
        <include refid="queryUserterm"></include>
    </select>
    <sql id="queryUserterm">
        <where>
            <if test="name!=null and name!=''">
                and name like '%${name}%'
            </if>
            <if test="userSex!=null">
                and userSex = #{userSex}
            </if>
            <if test="startDate!=null">
                and createDate &gt;=#{startDate}
            </if>
            <if test="endDate!=null">
                and createDate &lt;= #{endDate}
            </if>
        </where>
    </sql>
    <select id="queryWebUser" resultType="com.jk.user.model.WebUser">
        select wu.*,a1.full_name area,r.name rname from web_user wu
        LEFT JOIN xx_area a1 ON wu.userArea = a1.id
        LEFT JOIN t_webuser_role wr ON wu.userId = wr.webuserid
        LEFT JOIN t_role r ON wr.roleId = r.id
        <include refid="queryUserterm2"></include>
        limit #{s},#{r}
    </select>
    <sql id="queryUserterm2">
        <where>
            <if test="w.name!=null and w.name!=''">
                and wu.name like '%${w.name}%'
            </if>
            <if test="w.userSex!=null">
                and wu.userSex = #{w.userSex}
            </if>
            <if test="w.startDate!=null">
                and wu.createDate &gt;=#{w.startDate}
            </if>
            <if test="w.endDate!=null">
                and wu.createDate &lt;= #{w.endDate}
            </if>
        </where>
    </sql>
    <delete id="deleteWebUserById">
        delete from web_user where userId in (${id})
    </delete>
    <select id="queryRoleIdByUserId" resultType="int" parameterType="int">
        select wr.roleId from t_webuser_role wr where wr.webuserid = #{id}
    </select>
    <delete id="deleteWebUserRoleByUserId" parameterType="int">
        delete from t_webuser_role where webuserid = #{id}
    </delete>
    <insert id="addWebUserRole">
        insert into t_webuser_role(webuserid,roleId) value (#{userId},#{roleId})
    </insert>
    <select id="queryWebUserByName" resultType="com.jk.user.model.WebUser" parameterType="string">
        select * from web_user where userName = #{value}
    </select>
    <select id="queryidentByUserId" resultType="java.lang.String" parameterType="int">
        SELECT p.ident from t_webuser_role wr
        LEFT JOIN t_role r ON wr.roleId = r.id
        LEFT JOIN t_role_power rp ON rp.roleId = r.id
        LEFT JOIN t_power p ON rp.powerId=p.id
        where wr.webuserid=#{value} and p.id is not null
    </select>
    <select id="querArea" resultType="java.util.Map" parameterType="int">
        select a.id as id,a.name as name from xx_area a where parent
        <if test="value==null">
           is null
        </if>
        <if test="value!=null">
           = #{value}
        </if>

    </select>
    <select id="queryUserById" resultType="com.jk.user.model.WebUser" parameterType="int">
        select a.*,a2.name as shiname,a2.id AS shiId,a3.id as shenId,a3.name as shengname,a1.name as quname from web_user a
        LEFT JOIN xx_area a1 ON a.userArea=a1.id
        LEFT JOIN xx_area a2 ON a1.parent =a2.id
        LEFT JOIN xx_area a3 ON a3.id=a2.parent
        where a.userId= #{value}
    </select>
    <update id="updateWebUser" parameterType="com.jk.user.model.WebUser">
        update web_user set
        userSex=#{userSex},
        userArea=#{userArea},
        birthday=#{birthday},
        name =#{name}
        where userId=#{userid}
    </update>
    <select id="queryPwdById" resultType="java.lang.String" parameterType="int">
        select userPwd from web_user where userId=#{value}
    </select>
    <update id="updatePwd">
        update web_user set userPwd=#{pwd} where userId=#{id}
    </update>
    <insert id="addWebUser" parameterType="com.jk.user.model.WebUser">
        insert into web_user(userName,userPwd,userSex,createDate,userArea,name,birthday)
        values(#{userName},#{userPwd},#{userSex},sysdate(),#{userArea},#{name},#{birthday})
    </insert>

</mapper>