<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- jquery -->
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
<script type="text/javascript" src="../js/bootstrap3/js/bootstrap.js"></script>
<!-- bootstrap treeview -->
<link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css" />
<script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<!-- bootstrap 选项卡 -->
<link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
<script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
<!-- bootstrap 表格 -->
<link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css" />
<script src="../js/bootstrap-table/bootstrap-table.js"></script>
<script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!-- bootstrap treeview -->
<link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css" />
<script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<!-- bootstrap 选项卡 -->
<link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
<script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
<!-- bootstrap日期插件 -->
<script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<!-- bootstrap 弹框 -->
<script src="../js/bootstrap-bootbox/bootbox.js"></script>
<!-- bootstrap上传插件 -->
<script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
<script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
<link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
<body>
    <button id="addBrand" class="btn btn-success glyphicon glyphicon-save">新增</button>
    <table class="table" id="myBrandTable"></table>
    <script>
        $(function(){
            initBrandTable();
        })
        function initBrandTable(){
            //列表展示
            $('#myBrandTable').bootstrapTable({
                toolbar:'#toolbar',
                url:'../brand/queryBrandList',//获取数据地址
                pagination:true, //是否展示分页
                pageList:[2, 10, 20, 50],//分页组件
                pageNumber:1,
                pageSize:2,//默认每页条数
                //search:true,//是否显示搜索框
                //searchText:'试试',//初始化搜索文字
                showColumns:false,//是否显示 内容列下拉框
                showToggle:false,//是否显示 切换试图（table/card）按钮
                showPaginationSwitch:false,//是否显示 数据条数选择框
                showRefresh:false,//是否显示刷新按钮
                detailView:false,//设置为 true 可以显示详细页面模式。
                showFooter:false,//是否显示列脚
                clickToSelect: true, //是否启用点击选中行
                sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
                striped:true,
                queryParams:function(){
                    return{
                        page:this.pageNumber,
                        rows:this.pageSize
                    };
                },
                columns:[
                    [
                    {field:'111',title:'11',align:'center',checkbox:true},
                    {field:'productBrand_id',title:'id',align:'center'},
                    {field:'productBrand_name',title:'品牌',align:'center'},
                    {field:'22',title:'操作',align:'center',formatter:function(value,row,index){
                        return "<button class='btn btn-link' onclick='updateBrand("+row.productBrand_id+",\""+row.productBrand_name+"\")'>修改</button>" +
                            "<button class='btn btn-link' onclick='delteBrand("+row.productBrand_id+")'>删除</button>";
                    }}
                ]
                ]
            })
        }
        function updateBrand(id,name) {
            bootbox.dialog({
                title: "修改类型",
                message: createAddContent("../brand/toupdate"),
                closeButton: true,
                buttons: {
                    "success": {
                        "label": "<i class='icon-ok'></i>保存",
                        "className": "btn btn-success",
                        "callback":function(){
                            $.ajax({
                                url:"../brand/updateBrand",
                                data:{id:id,productBrand_name:$("#productBrand_name").val()},
                                success:function () {
                                    $('#myBrandTable').bootstrapTable("refresh");
                                }
                            })
                        }
                    },
                    "cancel": {
                        "label": "<i class='icon-info'></i>取消",
                        "className": "btn btn-warning",
                        "callback":function(){}
                    }
                }
            })
            $("#productBrand_name").val(name);
        }

        var res;
        function createAddContent(url){
            $.ajax({
                url:url,
                async:false,
                success:function(data){
                    res = data;
                }
            });
            return res;
        }
        function delteBrand(id) {
            $.ajax({
                url:"../brand/deleteBrand?id="+id,
                success:function () {
                    $('#myBrandTable').bootstrapTable("refresh");
                }
            })
        }
        $("#addBrand").click(function () {
            bootbox.dialog({
                title: "新增类型",
                message: createAddContent("../brand/toadd"),
                closeButton: true,
                buttons: {
                    "success": {
                        "label": "<i class='icon-ok'></i>保存",
                        "className": "btn btn-success",
                        "callback":function(){
                            $.ajax({
                                url:"../brand/addBrand",
                                data:{type:$("#type").val(),productBrand_name:$("#productBrand_name").val()},
                                success:function () {
                                    $('#myBrandTable').bootstrapTable("refresh");
                                }
                            })
                        }
                    },
                    "cancel": {
                        "label": "<i class='icon-info'></i>取消",
                        "className": "btn btn-warning",
                        "callback":function(){}
                    }
                }
            })
        })
    </script>
</body>
</html>