<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.money.mapper.MoneyMapper">


    <select id="querynewordercount" resultType="java.lang.Integer">
       select count(*)  from t_order where DATE_FORMAT(createtime,"%Y-%m-%d") = DATE_FORMAT(SYSDATE(),"%Y-%m-%d") and status &lt;&gt; 2
    </select>
    <select id="queryoverordercount" resultType="java.lang.Integer">
        select count(*)  from t_order where status = 1
    </select>
    <select id="queryfailordercount" resultType="java.lang.Integer">
        select count(*)  from t_order where status = 2
    </select>
    <select id="querynewregusercount" resultType="java.lang.Integer">

        select count(*) from cms_user where DATE_FORMAT(cmsUserDate,"%Y-%m") = DATE_FORMAT(SYSDATE(),"%Y-%m")
    </select>
</mapper>