<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表展示</title>
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="../plugins/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <!-- bootstrap 表格 -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-table/bootstrap-table.css" />
    <script src="../plugins/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../plugins/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- bootstrap treeview -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css" />
    <script src="../plugins/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- bootstrap 选项卡 -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../plugins/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- bootstrap日期插件 -->
    <script src="../plugins/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../plugins/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <!-- bootstrap 弹框 -->
    <script src="../plugins/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <!-- bootstrap上传插件 -->
    <script src="../plugins/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../plugins/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-fileinput/css/fileinput.css">
</head>
<body><h3 align="center">六脉，为你而生</h3>

    <form class="form-inline">
        <div class="form-group" style="margin-left: 10px">
            <input type="text" class="form-control" id="orderid" placeholder="请输入订单编号">
        </div>
        <div class="form-group"  style="margin-left: 50px">
            <label for="mintime">下单时间</label>
            <input type="text" class="form-control date" id="mintime" name="mintime" placeholder="起始时间">
            --
            <input type="text" class="form-control date" id="maxtime" name="maxtime" placeholder="结束时间">
        </div>
        <div class="form-group">
        <button type="button" onclick="queryOrderWhere()" class="btn btn-danger glyphicon glyphicon-search"></button></div>
        <div class="form-group" style="margin-left: 402px">
        <button type="button" onclick="delOrder()" class="btn btn-danger glyphicon glyphicon-minus">批量删除</button></div>
        <a href="javaScript:importorder()" class="btn btn-info glyphicon glyphicon-download">导出订单</a>
    </form>
    <table class="table" id="myTable"></table>
    <script>
        $(function(){
            initQueryOrder();
        })
        function queryOrderWhere(){
            $('#myTable').bootstrapTable("refresh");
        }
        function  initQueryOrder(){
            //列表展示
            $('#myTable').bootstrapTable({
                toolbar:'#toolbar',
                url:'../order/queryOrder',//获取数据地址
                pagination:true, //是否展示分页
                pageList:[5, 8, 15],//分页组件
                pageNumber:1,
                pageSize:8,//默认每页条数
                //search:true,//是否显示搜索框
                //searchText:'',//初始化搜索文字
                showColumns:false,//是否显示 内容列下拉框
                //showToggle:true,//是否显示 切换试图（table/card）按钮
                showPaginationSwitch:false,//是否显示 数据条数选择框
                showRefresh:false,//是否显示刷新按钮
                detailView:false,//设置为 true 可以显示详细页面模式。
                showFooter:false,//是否显示列脚
                clickToSelect: true, //是否启用点击选中行
                sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
                striped:true,
                queryParams:function(){
                    return{
                        orderid:$("#orderid").val(),
                        mintime:$("#mintime").val(),
                        maxtime:$("#maxtime").val(),
                        page:this.pageNumber,
                        rows:this.pageSize
                    };
                },
                columns:[
                    {field:'2',align:"center",checkbox:true},
                    {field:'orderid',title:'订单编号',align:"center"},
                    {field:'payment',title:'订单金额',align:"center",
                        formatter:function (value) {
                            return value+"元";
                        }
                    },
                    {field:'status',title:'订单状态',align:"center",
                        formatter:function (value) {
                        //1、未付款，2、已付款，3、未发货，4、已发货，5、交易成功，6、交易关闭,

                            if(value==0){
                                return "等待付款";
                            }
                            if(value==1){
                                return "未付款";
                            }
                            if(value==2){
                                return "已付款";
                            }
                        }
                    },
                    {field:'paytype',title:'支付类型',align:"center",
                        formatter:function(value){
                                if(value==1){
                                    return "在线支付";
                                }
                            if(value==2){
                                return "货到付款";
                            }
                        }
                    },
                    {field:'recarea',title:'收货地址',align:"center"},
                    {field:'recphone',title:'联系电话',align:"center"},
                    {field:'receiver',title:'收货人',align:"center"},
                    {field:'createtime',title:'下单时间',align:"center"},
                    {field:'caozuo',title:'操作',align:"center",
                        formatter:function(value,row,index){
                            return "<button class='btn  btn-link ' 	onclick='queryOrderById("+row.orderid+")'>查看详情</button>";
                        }
                    }
                ]
            })
        }
        //弹出框
        function queryOrderById(orderid){
            bootbox.dialog({
                title: "查看详情",
                message: createAddContent("../orderPage/toShowOrderInfo?orderid="+orderid),
                closeButton: true,
                buttons: {
                    "success": {
                        "label": "<i class='icon-ok'></i>确认",
                        "className": "btn btn-success",
                        "callback":function(){}
                    },
                    "cancel": {
                        "label": "<i class='icon-info'></i>取消",
                        "className": "btn btn-warning",
                        "callback":function(){}
                    }
                }
            });
        }

        function delOrder(){
            var arr = $('#myTable').bootstrapTable("getSelections");
            var id= "";
            for (var i = 0;i<arr.length;i++){
                id+=id.length==0?arr[i].orderid:","+arr[i].orderid
            }
            alert(id)
            $.ajax({
                url:"../order/delOrderByIds",
                type:"post",
                data:{id:id},
                success:function(){
                    $('#myTable').bootstrapTable("refresh");
                }
            })
        }

        //跳页面方法
        var res;
        function createAddContent(url){
            $.ajax({
                url:url,
                async:false,
                success:function(data){
                    res = data;
                }
            });
            return res;
        }



        //加载日期组件
        $('.date').datetimepicker({
            language: 'zh-CN',//显示中文
            //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });
        function importorder() {
           var page = $('#myTable').bootstrapTable('getOptions').pageNumber;
            var rows = $('#myTable').bootstrapTable('getOptions').pageSize;
            location.href="../order/export?page="+page+"&rows="+rows;
        }
    </script>
</body>
</html>