<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
</head>
<body>
<h1 align="center"><span th:text="${orderid}"></span>号订单详情</h1>
<table class="table">
    <tr>
        <th>商品名称</th>
        <th>商品单价</th>
        <th>商品数量</th>
        <th>商品总价</th>
    </tr>
    <span th:each="l:${list}">
    <tr>
        <th>${l.orderinfopid}</th>
        <th>${l.orderinfopid}</th>
        <th>${l.number}</th>
        <th>${l.orderinfopid}</th>
    </tr>
    </span>
</table>
</body>
</html>