<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/403.css">
</head>
<body>
    <div class="scene">
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <span class="bg-403">403</span>
        <div class="text">
            <span class="hero-text"></span>
            <span class="msg">公司禁地，禁止访问</span>
            <span class="support">
          <span>没有权限</span><br>
            <a href="#">正在定位你的IP</a>
            </span>
        </div>
        <div class="lock"></div>
    </div>
</body>
</html>